{{page-title "Update"}}
<center>
<div class="createpage" >
   <h2>Update Instance</h2>
   <form   class="theform" method="put" {{action 'setFree' on='submit'}} class="theform">
      <div class="row">
         <label> InstanceID: </label>
         <Input @type="number" style="width: 15.7em" @value={{this.instanceid}}/> 
     </div>
     <div class="row">
       <label> TeamID:  </label>
       <Input  @type="number" style="width: 15.7em" @value={{this.teamid}}/>
     </div>
      <button id="id_button" type="submit" value="submit">Update</button>
</form>

</div>
</center>

{{outlet}}